@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --latte: #fffcf4;
  --yellow: #fffa64;
  --brown: #421e18;
  --dark-pink: #934662;
  --pink: #ffa0c2;
  
  --bricollage: system-ui, "Bricolage Grotesque", sans-serif;
  --inter: system-ui, "Inter", sans-serif;

  font: 1.1rem/145% var(--inter);
  color: var(--brown);
  background: var(--latte);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

body, * {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--bricollage);
  font-weight: 500;
  color: var(--brown);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}